
/* * * * * * * * * * * * * FONT * * * * * * * * * * * */


html, body {
    font-size: 16px;
} 

body {
	 margin: 0;
	 font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;}


h1 {
	/* Helvetica Neue Medium Font Stack */
	font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:500; font-stretch:normal;
	color: #333333;
	font-size: 2.125em;
}

h2 {
	font-family: "Memphis", sans-serif;
	color: #1a1a1a;
	font-size: 1.5em;
	margin: 5px;
}







h5{ 
	font-family: "Helvetica", "HelveticaNeueBold", "HelveticaNeue", "sans-serif";
	font-weight: bold;
	font-size: .625em;
	text-transform: uppercase;
}



.num{
	font-family: "Helvetica", "HelveticaNeue", "sans-serif";
	font-weight: lighter;
	font-size: 14px;
}



h6{
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
	color: #1a1a1a;
	font-size: .875em;
	margin: 3px;
}


#description p{
	font-family: "Helvetica", "HelveticaNeue", "sans-serif";
	font-size: .8125em; /*13px*/
  	line-height : 21px;
  	letter-spacing : 0.04px;
  	font-style: oblique;
  	color: #4d4d4d;
}

span.green{
	color: #84cdb6;
}



/* Helvetica Neue Regular Font Stack */
.HelveticaNeue{
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;}


/* Helvetica Neue Medium Font Stack */
.HelveticaNeueMedium{
	font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:500; font-stretch:normal;}

/* Helvetica Neue Bold Font Stack */
.HelveticaNeueBold{
	font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:600; font-stretch:normal;}






/* * * * * * * * * * * * * GRID* * * * * * * * * * * * */ 

.container {
	width: 90%;
	margin: 0 auto;
	/*border: 1px solid purple;*/
}

.full-width {
	width: 100%;
	/*border: 2px solid red;*/
}

.left-rail {
	width: 77%;
	float: left;
	/*border: 2px solid red;*/
	background-color: #f4f7f8;

}

.right-rail {
	margin: 0;
	padding:0;
	width: 23%;
	float: right;
	/*border: 2px solid red;*/

}


.main_content{
	width: 75%;
	margin:0;
	padding:0;
	margin-left: 14%;
	margin-right: 16%;
	display: block;
	border: 2px solid red;

}

/* * * * * * * * * * * * * * * * * * * * * * * * * */ 




/* 
.....
.......
........
Header!
........
.....
....
*/





/***************** NAV******************/


.top_nav{
	background-color: white;
	color : #127074;
	padding-bottom: 3em;
}


.top_nav ul{
	list-style-type: none;
	padding: 0;
}



.top_nav li{
	display: inline-block;
	font-size: 14px;

}



.top_nav li a{
	text-decoration: none;
	padding: .5em 1em;
	display: block;
/*	border: 1px solid black;*/
}


/*visited link*/
.top_nav li a:visited {
	color: #127074; ;
}

/* mouse over link */
.top_nav li a:hover {
    text-decoration: underline;
}





.top_nav ul.nav_row{
/*	border: 1px solid orange;*/
	position: relative;
	margin-top: 2em;
}





.top_nav li.right_nav{
	float: right;
}



#Dash_btn a{
	font-size : 16px;
  	line-height : 20.1px;
	color : #EC6766;
  	border: 1px solid #EC6766;
  	margin-right: 2.5em;
  
}

/* mouse over link */
#Dash_btn a:hover{ 
	text-decoration: none;
	background-color: #EC6766;
	color: #fff;	
}




#Orders_btn a{
/*	font-size : 16px;*/
  	line-height : 20.1px;
	color : #127074;
  	border: 1px solid #127074;
  	padding: .35em 1em;
}


/* mouse over link */
#Orders_btn a:hover{ 
	text-decoration: none;
	background-color: #127074;
	color: #fff;	
}





#User{
	font-size: 14px;
	margin-left: 2.5em;
}




#FE_logo {
	width: 93px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2.375em;
}


hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #84cdb6;

}


/** MEDIA QUERY**/

@media (max-width: 600px){

	ul.nav_row{
		width: 100%;
	}

	ul.nav_row li a{
		display: inline-block;
	}

	#Dash_btn a{
		margin: 0;
		margin-right: 1.95em;
		border: none;
		padding:0;
	}
	#Dash_btn a:hover{
		background-color:white;
		color: #EC6766;
		text-decoration: underline;
	}

	#Orders_btn a{
		border:none;
		padding:0;
	}
	#Orders_btn a:hover{
		background-color:white;
		color: #127074;
		text-decoration: underline;
	}

	li#User{
		margin: 0;
		margin-left: 1.95em;
	}

	#FE_logo {
		margin: 1.3em auto -.5em auto;
	}
}

/** Media Query End **/




/****************** Header Text***************/

#title_text{
	width:100%;
	text-align: center;
	margin-top: 3.25em;
	margin-bottom: 3.725em;
}

.Step2 {
	color: #127074;
}

p#title_subtext{
	margin:0;
	margin-top: 1.5em;
	font-size: 1.125em; /*(of 1em=16px)*/
	color: #127074;
}



/****************** Progress Bar ***************/


.progress_bar ul{
	margin:0;
	width: 100%;
	padding: 0;
}

.nav_tab{
	list-style-type: none;
	width: 25%;
	float:left;
}

.nav_tab a{
	font-size: 1.5em; /*(of 1em = 24px)*/
	text-decoration: none;
	color: #127074;
	display: inline-block;
	width: 100%;
	line-height: 3.3em; /*(of 1em = 24px; 3.3em= 80px)*/
	text-align: center;
	text-indent: .7em;
	background-color: #84cdb6;
	border: .1em solid white;
	
	}


.Products_tab a{
	color: #127074;
	font-weight: bold;
	font-size: 1.875em; /*(of 1em = 16px; 1.875em= 30px)*/
	line-height: 2.66666em; /*(of 1em = 30px; 2.66em= 80px)*/
	border: .08em solid white;
	text-indent: 1.5em;
}


.Users a{
	text-indent: 2em;
}


.incomplete.nav_tab a{
	background-color: #c8e9de;
}

.nav_tab.completed::after, 
.nav_tab.Users::after {

  	content: "";
	position: absolute;
	margin-left: 25%;
	margin-top: -5.065em;
  	width: 0;
	height: 0;
	border-top: 2.5em solid transparent;
	border-left: 2.9em solid #84cdb6;
	border-bottom: 2.5em solid transparent;

}


.nav_tab.completed::before,
.nav_tab.Users::before {

  	content: "";
	position: absolute;
	margin-left: 25%;
	margin-top: -0.065em;
  	width: 0;
	height: 0;
	border-top: 2.7em solid transparent;
	border-left: 3.2em solid white;
	border-bottom: 2.7em solid transparent;

}


.nav_tab.Users::after {
	border-left: 2.9em solid #c8e9de;
}



/*hover states*/
.nav_tab a:hover {
	font-weight: bold;
	font-size: 1.52em; /*(of 1em = 16px; 1.56em= 25px)*/
	line-height: 3.25em; /*(of 1em = 25px; 3.25em= 80px)*/
	border: .096em solid white; /*add border width to compensate size*/
}



/*
keeps product tab static*/
.Products_tab a:hover{
	color: #127074;
	font-weight: bold;
	font-size: 1.875em; /*(of 1em = 16px; 1.875em= 30px)*/
	line-height: 2.66666em; /*(of 1em = 30px; 2.66em= 80px)*/
	border: .08em solid white;
	text-indent: 1.5em;
}





/***************/

/** Progress bar MEDIA QUERIES**/

@media (max-width: 1050px){

	.nav_tab a{
		font-size: 1.25em; /*(of 1em = 16px;  1.25em = 20px)*/
		line-height: 3.1em; /*(of 1em = 20px; 3.1em= 62px)*/
		text-indent: .7em;
		border: .1em solid white; /*(at 12m= 20px; .1em= 2px)*/
	}


	.Products_tab a{
		color: #127074;
		font-weight: bold;
		font-size: 1.5625em; /*(of 1em = 16px; 1.5625em= 25px )*/
		line-height: 2.48em; /*(of 1em = 25px; 2.66em= 62px)*/
		border: .08em solid white; /*(of 1em=25px; .08em=2px)*/
		text-indent: 1.8em;
	}


	.Users a{
		text-indent: 2em;
	}


	.incomplete.nav_tab a{
		background-color: #c8e9de;
	}

	.nav_tab.completed::after, 
	.nav_tab.Users::after {

	  	content: "";
		position: absolute;
		margin-left: 25%;
		margin-top: -4em;  /*at 1em=16px; -3.975em= 64px (62 px then add 2px border)*/
	  	width: 0;
		height: 0;
		border-top: 1.95em solid transparent;
		border-left: 2.54em solid #84cdb6;
		border-bottom: 1.95em solid transparent;

	}


	.nav_tab.Users::after {
		border-left: 2.54em solid #c8e9de;
	}

	.nav_tab.completed::before,
	.nav_tab.Users::before {

	  	content: "";
		position: absolute;
		margin-left: 25%;
		margin-top: -0.065em;
	  	width: 0;
		height: 0;
		border-top: 2.15em solid transparent;
		border-left: 2.74em solid white;
		border-bottom: 2.15em solid transparent;

	}

	/*hover states*/
	.nav_tab a:hover {
		font-weight: bold;
		font-size: 1.25em; /*keep font-size and line height the same as non-hover*/
		line-height: 3.1em; 
		border: .106em solid white; /*add some border to compensate size*/
	}



	/*
	keeps product tab static*/
	.Products_tab a:hover{
		color: #127074;
		font-weight: bold;
		font-size: 1.5625em; /*(of 1em = 16px; 1.5625em= 25px )*/
		line-height: 2.48em; /*(of 1em = 25px; 2.66em= 62px)*/
		border: .08em solid white; /*(of 1em=25px; .08em=2px)*/
		text-indent: 1.8em;
	}


}






/*getting rid of arrows*/
@media (max-width: 700px){
	.nav_tab.completed::after, 
	.nav_tab.Users::after {
		border-left: 0;		
	}


	.nav_tab.completed::before,
	.nav_tab.Users::before {
		border-left: 0;
	}


	.nav_tab a{
		text-indent:0em;
		font-size: 1em;
		width:98%;
		margin-left:1%;
	}

	.Company a{
		width: 98%;
	}

	.Users a{
		margin-left: 1.5%;
	}

	.Products_tab a{
		line-height: 3em;	/*keeping the same font size as all just bolded and outlined*/
		border: .13em solid #127074;

	}



	/*hover states*/
	.nav_tab a:hover {
		font-size: 1em;
		width:98%;
		line-height: 3em;	/*keeping the same font size as all just bolded and outlined*/
		border: .13em solid #127074;

	}

	.Users a:hover{
		width: 93%;
		margin-left: 2%;
	}



	/*
	keeps product tab static*/
	.Products_tab a:hover{
		text-indent: 0;
	}


}



/** Media Queries End **/
/******************
*/




/************************************************************/


/* 
.....
.......
........
content- left rail! 
........
.....
....
*/





/***************** Company Info Top portion ******************/

.company_info{
	width: 103%;
	display: block;
	float: left;
	padding-bottom: 2em;
	margin-left: 4.1%;
	/*border: 2px solid blue;*/
}


/*******MEDIA QUERIES TABLET*********/

@media (max-width: 900px){
	.left-rail{
		width:100%;
	}

	.main_content{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}


	.company_info{
		width: 112%;
		margin-left: -5%;
	}
}
/************END MEDIA QUERIES*******/




/*
********in container- main content**********/





.logo_and_social{
	width: 9.375em; /*( or 150px -----at 1 em= 16px)*/
	float: left;
	position: relative;
}


#preserving_sf_logo{
	width: 100%;
	margin-top: -4.6875em; /*(-75px at 1em=16px)*/
	margin-bottom: .4em;
}


.social_row ul{
	width: 80%;
	padding: 0; 
	overflow:auto;
	margin: auto;

}
.social_row ul li{
	list-style-type: none;
	margin: 4px;
	float: left;
}



.social_row ul li a{
	text-align: center;
	display: block;

}


.social_row img{
	width: 2em; /*(32px at 1 em =16px)*/
}




.co_name_location{
	display: block;
	float: left;
	margin: .5em 1em 0 1.2em;
	color: #333;

}












.prod_gall_descript{
	width: 53%;
	margin-top: -1.8em;
	margin-left: 2.2em;
	display: block;
	float: right;
}


.prod_gall_tabs ul{
	width: 60%;
	padding: 0;
	list-style-type: none;
	text-align: center;
	margin-left: 0;
}

.prod_gall_tabs ul li{
	display: inline-block;
	line-height: 1.25em; /*20px if 1em=16px*/
	color: #333333;	

}

.prod_tab{
	margin-right: 4em;
}


.underline_green{
	border: 2px solid #84cdb6;
	line-height: 0em;
	margin-top: -.8em;
	width: 150%;
	margin-left: -25%;
}


.underline_grey{
	border: 2px solid #CCCCCC;
	line-height: 0em;
	margin-top:-.8em;
	width: 120%;
	margin-left: -10%;

}






/***************/

/** Co Info MEDIA QUERIES**/

@media (min-width: 1378px){


	.prod_gall_descript{
		width: 53%;
		margin-top: 2em;
		margin-left: 2em;

	}

}




@media (max-width: 1150px){



	.prod_gall_tabs ul{
		float: right;
		width: 100%;
		padding-right: 3em;
		text-align: right;
	}

	.prod_gall_descript{
		width: 65%;
		float: right;	
		margin-top: -1.8em;
	}


	.prod_tab .num{
		margin-right: 1.55em;

	}

	.gall_tab .num{
		margin-right: 2.6em;
	}
}








/*Tablet*/

@media (max-width: 900px){

	.prod_gall_descript{
		width: 53%;
		margin-top: -2em;
		margin-left: 2.2em;

	}


	.prod_gall_tabs ul{
		width: 60%;
		padding: 0;
		float:none;
	}


}




@media (max-width: 780px){



	.prod_gall_tabs ul{
		width: 90%;
		float:none;
		text-align: right;
	}

	.prod_gall_descript{
		width: 65%;
		float: right;	
		margin-top: -1.8em;
	}

	.prod_tab{
		margin-right: 2.5em;
	}

	.prod_tab .num{
		margin-right: 1.55em;

	}

	.gall_tab .num{
		margin-right: 2.6em;
	}

}



@media (max-width: 590px){

	.prod_gall_tabs{
		display:none;
	}

	.prod_gall_descript{
		margin-top: 0em;
		width: 95%;
		margin:auto;
	}

}


/** END OF Co. Info MEDIA QUERIES**/

/***************/









hr.co_prod_divide{
	border: 3px solid #e6e6e6;

}















.product_list{
	display: inline-block;
	margin

}



























