/*Where do I specify fonts? Should I still do it at the top when 
I have so many different fonts on this page? Near the specific element
or at the top?*/


/*Font
==========================================================*/

body{
	 font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	 margin: 0;

}

.container {
	width: 90%;
	margin: 0 auto;
}

/*GRID*/

.full-width {
	width: 100%;
	border: 1px solid red;
}

.left-rail {
	width: 75%;
	float: left;
	border: 1px solid red;

}

.right-rail {
	width: 20%;
	float: right;
	border: 1px solid red;

}

/*//////////////////////////// HEADER ////////////////////////// 
/////////////////////////////////////////////////////////////////////////*/

.top_nav{
	width: 100%;
	background-color: teal;
}



.top_nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: auto;


}

/*Why won't the ul span the width of the page?*/


.top_nav li{
	float: left;
	margin: 0 auto;


}

a#FE_logo {
	width: 50px;
	float: left;

}

#FE_logo img{
	width: 100%;
}

.top_nav a{
	text-decoration: none;
	display: block;
	padding: 20px;
	border: 1px solid black;

	
}




#Dash_btn a{
	color: #ec6766;
	font-size: 16pt;
	font-weight: 600;
	

}


#title_text{
	width:100%;
text-align: center;
}




